$theme-color: #d44439;
.scroll-content {
  width: max-content;
}
.list {
  display: flex;
  align-items: center;
  height: 30px;
  overflow: hidden;
  span.title {
    display: block;
    flex: 0 0 auto;
    padding: 5px 0;
    margin-right: 5px;
    color: grey;
    font-size: 16px;
    vertical-align: middle;
  }
  .list-item {
    flex: 0 0 auto;
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 10px;
    flex: 0 0 auto;

    &.selected {
      color: $theme-color;
      border: 1px solid $theme-color;
      opacity: 0.8;
    }
  }
}
