@import "../../assets/global-style.scss";
.tab {
  position: relative;
  background-color: $theme-color;
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  a {
    flex: 1;
    padding: 2px 0;
    font-size: 14px;
    color: $border-color;
    &.active {
      padding: 3px 0;
      font-weight: 700;
      color: $font-color-light;
      // border-bottom: 2px solid $font-color-light;
    }
  }
  .moving-border {
    position: absolute;
    bottom: 10px;
    width: 125px;
    left: 0;
    height: 2px;
    background-color: $font-color-light;
    transition: left 0.4s;
  }
}
