@import "../../assets/global-style.scss";

.Header {
  position: fixed;
  padding: 5px 10px;
  padding-top: 0;
  height: 40px;
  width: 100%;
  z-index: 100;
  display: flex;
  line-height: 40px;
  color: $font-color-light;
  background-color: $theme-color;
  .back {
    margin-right: 5px;
    font-size: 20px;
    width: 20px;
  }
  h1 {
    font-size: 16px;
    font-weight: 700;
  }
}
